# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Models
backend/models/*.pkl
professional_dataset_16k.csv
results.png
model_summary.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
